<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/icon.ico" type="image/x-icon">
  </head>
  <body>
    <section class="todoapp" id="todoapp"></section>
    <footer class="info">
      <p>Created by <a href="http://www.linkedin.com/in/nikhilballaney">Nikhil Ballaney</a></p>
    </footer>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/bundle.js"></script>
    <script>
      if(!localStorage.getItem("tipAlert")) {
        alert('ProTip: To edit a ToDo, just click on it.');
        localStorage.setItem("tipAlert", "true");
      }
    </script>
  </body>
</html>