<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="todomvc-common/base.css"> -->
    <!-- <link rel="stylesheet" href="css/app.css"> -->
  </head>
  <body>
    <section id="todoapp"></section>
    <footer id="info">
      <p>Created by <a href="http://www.linkedin.com/in/nikhilballaney">Nikhil Ballaney</a></p>
    </footer>
    <script src="js/bundle.js"></script>
  </body>
</html>